<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.jdt.core.javaFormatter">
   <javaFormatter
         class="com.google.googlejavaformat.java.GoogleJavaFormatter"
         id="com.google.googlejavaformat.java.GoogleJavaFormatter"
         name="google-java-format">
   </javaFormatter>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.jdt.ui.preferences.CodeFormatterPreferencePage"
            class="org.eclipse.googlejavaformat.GoogleFormatterPreferencePage"
            id="org.eclipse.googlejavaformat.GoogleFormatterPreferencePage"
            name="Google formatter">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.googlejavaformat.PreferenceInitializer">
      </initializer>
   </extension>
</plugin>
